= Haml::Engine.new(File.read('header.haml')).render

/ Container
/ =========
\<div class="cp-container">

/ Sidebar
/ =======
= Haml::Engine.new(File.read('sidebar.haml')).render
/ End Sidebar

/ Right Block
/ ===========
\<div class="cp-right-block">

/ Topbar
/ ======
= Haml::Engine.new(File.read('topbar.haml')).render
/ End Topbar

/ Content
/ =======
\<div class="cp-content">

/ Breadcrumb
%ol.cp-breadcrumb
  %li.cp-breadcrumb-item
    %a(href="index.html") Home
  %li.cp-breadcrumb-item.active Customer Dashboard
/ End Breadcrumb

/ Flexbox Layout
.cp-flex.cp-customer-dashboard
  / Total Customer
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Total Customer

      .cp-dashboard
        %i.cp-icn-total-customer
        .cp-typo-dashboard-count 144,865
        .cp-typo-dashboard-title Customer

  / Customer Status
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Customer Status

      .cp-dashboard
        .cp-chart-pie
          %canvas#customer-status(width="200" height="200" )

  / System Status
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title System Status

      .cp-dashboard
        .cp-chart-doughnut
          %canvas#customer-system-status(width="200" height="200" )
          .cp-dashboard-icn-center
            %i.cp-icn-active-customer
        .cp-typo-dashboard-subcount 98,687
        .cp-typo-code Active Customer

  / New Customer
  .cp-flex-item.cp-flex-2of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title New Customer
        .cp-card-config
          .btn-group.cp-btn-group
            %button.btn.cp-btn-white(type="button" ) Year
            %button.btn.cp-btn-white(type="button" ) Month
            %button.btn.cp-btn-white.active(type="button" ) Week

      .cp-dashboard
        .cp-chart-full
          %canvas#customer-new-customer(width="1200" height="500" )

  / Booking Status
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Customer Booking

      .cp-dashboard
        .cp-typo-dashboard-subcount.cp-up-progress 127,250
        .cp-typo-code Booked
        %progress.cp-progress(max="144865" value="127250" )
        .cp-typo-dashboard-subcount.cp-down-progress 17,615
        .cp-typo-code Never Book

  / Top Customer
  .cp-flex-item.cp-flex-1of1
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Top Customer
      .scrollable
        %table.table.cp-table-list
          %thead
            %tr
              %th &nbsp;
              %th &nbsp;
              %th &nbsp;
              %th.cp-thead-small
                %a(href="" ) CODE
              %th.cp-thead-normal
                %a(href="" ) NAME
              %th
                %a(href="" ) PHONE
              %th
                %a(href="" ) EMAIL
              %th
                %a(href="" ) TOTAL TRIP
              %th
                %a(href="" ) COMPLETED TRIP
              %th
                %a(href="" ) CANCELLED TRIP
              %th
                %a(href="" ) TOTAL SPENDING <br>(VND)
              %th
                %a(href="" ) ADDRESS
              %th &nbsp;
          %tbody.have-avatar
            %tr
              %td.online &nbsp;
              %td 1
              %td
                .cp-image-rec56
                  %img(src="../images/faces/adelle-charles.png" alt="Avatar" )
              %td CT85312
              %td Adelle Charles
              %td 0123458211
              %td adelle@gmail.com
              %td.cell-center 345
              %td.cell-center 325
              %td.cell-center 20
              %td 21,240,000
              %td 245 Street Name, Ward 11, District 3, Ho Chi Minh City
              %td &nbsp;
            %tr
              %td &nbsp;
              %td 2
              %td
                .cp-image-rec56
                  %img(src="../images/faces/caleb-ogden.png" alt="Avatar" )
              %td CT88412
              %td Caleb Ogden
              %td 0125423212
              %td caleb@gmail.com
              %td.cell-center 320
              %td.cell-center 305
              %td.cell-center 15
              %td 20,440,000
              %td 245 Street Name, Ward 11, District 3, Ho Chi Minh City
              %td &nbsp;
            %tr
              %td.online &nbsp;
              %td 3
              %td
                .cp-image-rec56
                  %img(src="../images/faces/felipe-bogs.png" alt="Avatar" )
              %td CT24112
              %td Felipe Bogs
              %td 0123458211
              %td felipe@gmail.com
              %td.cell-center 310
              %td.cell-center 300
              %td.cell-center 10
              %td 20,100,000
              %td 245 Street Name, Ward 11, District 3, Ho Chi Minh City
              %td &nbsp;
            %tr
              %td &nbsp;
              %td 4
              %td
                .cp-image-rec56
                  %img(src="../images/faces/jame-anderson.png" alt="Avatar" )
              %td CT83653
              %td Jame Anderson
              %td 0125423212
              %td jame@gmail.com
              %td.cell-center 294
              %td.cell-center 290
              %td.cell-center 4
              %td 19,840,000
              %td 245 Street Name, Ward 11, District 3, Ho Chi Minh City
              %td &nbsp;
            %tr
              %td.online &nbsp;
              %td 5
              %td
                .cp-image-rec56
                  %img(src="../images/faces/jarrod-mosen.png" alt="Avatar" )
              %td CT65612
              %td Jarrod Mosen
              %td 0123458211
              %td jarrod@gmail.com
              %td.cell-center 284
              %td.cell-center 274
              %td.cell-center 10
              %td 19,210,000
              %td 245 Street Name, Ward 11, District 3, Ho Chi Minh City
              %td &nbsp;
            %tr
              %td.online &nbsp;
              %td 6
              %td
                .cp-image-rec56
                  %img(src="../images/faces/jeremy-goillot.png" alt="Avatar" )
              %td CT25214
              %td Jeremy Goillot
              %td 0125423212
              %td jeremy@gmail.com
              %td.cell-center 263
              %td.cell-center 260
              %td.cell-center 3
              %td 18,520,000
              %td 245 Street Name, Ward 11, District 3, Ho Chi Minh City
              %td &nbsp;
            %tr
              %td.online &nbsp;
              %td 7
              %td
                .cp-image-rec56
                  %img(src="../images/faces/jina-anne.png" alt="Avatar" )
              %td CT63956
              %td Jina Anne
              %td 0123458211
              %td jina@gmail.com
              %td.cell-center 256
              %td.cell-center 240
              %td.cell-center 16
              %td 17,240,000
              %td 245 Street Name, Ward 11, District 3, Ho Chi Minh City
              %td &nbsp;
            %tr
              %td &nbsp;
              %td 8
              %td
                .cp-image-rec56
                  %img(src="../images/faces/marcos-moralez.png" alt="Avatar" )
              %td CT45245
              %td Marcos Moralez
              %td 0125423212
              %td marcos@gmail.com
              %td.cell-center 247
              %td.cell-center 240
              %td.cell-center 7
              %td 16,750,000
              %td 245 Street Name, Ward 11, District 3, Ho Chi Minh City
              %td &nbsp;
            %tr
              %td.online &nbsp;
              %td 9
              %td
                .cp-image-rec56
                  %img(src="../images/faces/matt-cheuvront.png" alt="Avatar" )
              %td CT57521
              %td Matt Cheuveront
              %td 0123458211
              %td matt@gmail.com
              %td.cell-center 242
              %td.cell-center 232
              %td.cell-center 10
              %td 16,360,000
              %td 245 Street Name, Ward 11, District 3, Ho Chi Minh City
              %td &nbsp;
            %tr
              %td &nbsp;
              %td 10
              %td
                .cp-image-rec56
                  %img(src="../images/faces/mike-kamanski.png" alt="Avatar" )
              %td CT65126
              %td Mike Kamanski
              %td 0125423212
              %td mike@gmail.com
              %td.cell-center 238
              %td.cell-center 232
              %td.cell-center 6
              %td 15,440,000
              %td 245 Street Name, Ward 11, District 3, Ho Chi Minh City
              %td &nbsp;

/ End Flexbox Layout

\</div>
/ End Content

/ Foobar
/ ======
= Haml::Engine.new(File.read('foobar.haml')).render
/ End Foobar

\</div>
/ End Right Block

\</div>
/ End Container

= Haml::Engine.new(File.read('footer.haml')).render
