= Haml::Engine.new(File.read('header.haml')).render

/ Container
/ =========
\<div class="cp-container">

/ Sidebar
/ =======
= Haml::Engine.new(File.read('sidebar.haml')).render
/ End Sidebar

/ Right Block
/ ===========
\<div class="cp-right-block">

/ Topbar
/ ======
= Haml::Engine.new(File.read('topbar.haml')).render
/ End Topbar

/ Content
/ =======
\<div class="cp-content">

/ Breadcrumb
%ol.cp-breadcrumb
  %li.cp-breadcrumb-item
    %a(href="index.html") Home
  %li.cp-breadcrumb-item
    %a(href="customer-dashboard.html") Customer
  %li.cp-breadcrumb-item
    %a(href="customer-list-customer.html") List Customer
  %li.cp-breadcrumb-item.active Customer Detail
/ End Breadcrumb

/ Flexbox Layout
.cp-flex
  / Summary
  .cp-flex-item.cp-flex-equal.cp-flex-1of4
    .cp-flex-content.cp-card-count-block
      .cp-count-note &nbsp;
      .cp-count-number 345
      .cp-count-title Total Trip

  .cp-flex-item.cp-flex-equal.cp-flex-1of4
    .cp-flex-content.cp-card-count-block
      .cp-count-note &nbsp;
      .cp-count-number 325
      .cp-count-title Completed Trip

  .cp-flex-item.cp-flex-equal.cp-flex-1of4
    .cp-flex-content.cp-card-count-block
      .cp-count-note &nbsp;
      .cp-count-number 20
      .cp-count-title Cancelled Trip

  .cp-flex-item.cp-flex-equal.cp-flex-1of4
    .cp-flex-content.cp-card-count-block
      .cp-count-note VND
      .cp-count-number 21,240,000
      .cp-count-title Total Spending

  / General Information
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-summary.online
          .cp-detail-avatar
            .cp-image-rec90
              %img(src="../images/faces/adelle-charles.png" alt="Customer Avatar" )
          .cp-detail-summary-info
            .cp-typo-code CT85312
            .cp-typo-name Adelle Charles
            .cp-btn-act.cp-customer-available Available
      %hr
      .cp-detail-container
        %table.cp-card-detail
          %tr
            %td Email:
            %td adelle@gmail.com
          %tr
            %td Phone:
            %td 01236581245
          %tr
            %td Date of Birth:
            %td 15/10/1986
          %tr
            %td Gender:
            %td
              %i.cp-icn-female
          %tr
            %td Address:
            %td 245 Street Name, Ward 11, District 3, Ho Chi Minh City
          %tr
            %td Join At:
            %td 12/09/2016
          %tr
            %td Status:
            %td Active

  / Trip History
  .cp-flex-item.cp-flex-2of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Trip History
      .scrollable
        %table.table.cp-table-list
          %thead
            %tr
              %th &nbsp;
              %th &nbsp;
              %th
                %a(href="#" ) PICKUP LOCATION
              %th
                %a(href="#" ) DROPOFF LOCATION
              %th
                %a(href="#" ) DRIVER
              %th
                %a(href="#" ) FARE <br>(VND)
              %th
                %a(href="#" ) PICKUP AT
              %th
                %a(href="#" ) STATUS
              %th &nbsp;
          %tbody
            %tr
              %td &nbsp;
              %td 1
              %td 123 Pickup Street, Ward 12, District 10, Ho Chi Minh City
              %td 456 Dropoff Street, Ward 4, District 3, Ho Chi Minh City
              %td Ty Luu <br><span class="subtext">0985745963</span>
              %td 250,000
              %td 13/10/2016 <br>16:32
              %td Active
              %td &nbsp;
            %tr
              %td &nbsp;
              %td 2
              %td 123 Pickup Street, Ward 12, District 10, Ho Chi Minh City
              %td 456 Dropoff Street, Ward 4, District 3, Ho Chi Minh City
              %td Ty Luu <br><span class="subtext">0985745963</span>
              %td 250,000
              %td 13/10/2016 <br>16:32
              %td Active
              %td &nbsp;
            %tr
              %td &nbsp;
              %td 3
              %td 123 Pickup Street, Ward 12, District 10, Ho Chi Minh City
              %td 456 Dropoff Street, Ward 4, District 3, Ho Chi Minh City
              %td Ty Luu <br><span class="subtext">0985745963</span>
              %td 250,000
              %td 13/10/2016 <br>16:32
              %td Active
              %td &nbsp;
            %tr
              %td &nbsp;
              %td 4
              %td 123 Pickup Street, Ward 12, District 10, Ho Chi Minh City
              %td 456 Dropoff Street, Ward 4, District 3, Ho Chi Minh City
              %td Ty Luu <br><span class="subtext">0985745963</span>
              %td 250,000
              %td 13/10/2016 <br>16:32
              %td Active
              %td &nbsp;
            %tr
              %td &nbsp;
              %td 5
              %td 123 Pickup Street, Ward 12, District 10, Ho Chi Minh City
              %td 456 Dropoff Street, Ward 4, District 3, Ho Chi Minh City
              %td Ty Luu <br><span class="subtext">0985745963</span>
              %td 250,000
              %td 13/10/2016 <br>16:32
              %td Active
              %td &nbsp;

        %ul.cp-pagination
          %li.cp-pagination-item
            %a.cp-pagination-link.disable(href="#") &laquo;
          %li.cp-pagination-item
            %a.cp-pagination-link.active(href="#" ) 1
          %li.cp-pagination-item
            %a.cp-pagination-link(href="#" ) 2
          %li.cp-pagination-item
            %a.cp-pagination-link(href="#" ) 3
          %li.cp-pagination-item
            %a.cp-pagination-link(href="#" ) 4
          %li.cp-pagination-item
            %a.cp-pagination-link(href="#" ) 5
          %li.cp-pagination-item
            %a.cp-pagination-link(href="#" ) &raquo;
/ End Flexbox Layout

\</div>
/ End Content

/ Foobar
/ ======
= Haml::Engine.new(File.read('foobar.haml')).render
/ End Foobar

\</div>
/ End Right Block

\</div>
/ End Container

= Haml::Engine.new(File.read('footer.haml')).render

