= Haml::Engine.new(File.read('header.haml')).render

/ Container
/ =========
\<div class="cp-container">

/ Sidebar
/ =======
= Haml::Engine.new(File.read('sidebar.haml')).render
/ End Sidebar

/ Right Block
/ ===========
\<div class="cp-right-block">

/ Topbar
/ ======
= Haml::Engine.new(File.read('topbar.haml')).render
/ End Topbar

/ Content
/ =======
\<div class="cp-content">

/ Breadcrumb
%ol.cp-breadcrumb
  %li.cp-breadcrumb-item
    %a(href="index.html") Home
  %li.cp-breadcrumb-item
    %a(href="driver-dashboard.html") Driver
  %li.cp-breadcrumb-item
    %a(href="driver-list-driver.html") List Driver
  %li.cp-breadcrumb-item.active Driver Detail
/ End Breadcrumb

/ Flexbox Layout
.cp-flex
  / General Information
  .cp-flex-item.cp-flex-equal.cp-flex-1of2
    .cp-flex-content.cp-card
      %header
        .cp-card-summary.online
          .cp-detail-avatar
            .cp-image-rec90
              %img(src="../images/faces/thang-tran.png" alt="User Avatar" )
          .cp-detail-summary-info
            .cp-typo-code DR1246
            .cp-typo-name Thang Tran
            .cp-typo-text Toyota Innova 2015 / 51H1-56.152
      %hr
      .cp-detail-container
        %table.cp-card-detail
          %tr
            %td Email:
            %td
              %a(href="mailto:thang.tran@nexx.vn" ) thang.tran@nexx.vn
          %tr
            %td Phone:
            %td 01236585469
          %tr
            %td Date of Birth:
            %td 15/10/1990
          %tr
            %td Gender:
            %td
              %i.cp-icn-male
          %tr
            %td Rating:
            %td
              3.5
              %i.cp-icn-star
          %tr
            %td Activity:
            %td
              .cp-btn-act.cp-driver-onway On Way
          %tr
            %td Status:
            %td Active
          %tr
            %td Last Latest Online:
            %td 14/11/2016 14:28:20

  / Service & Banking
  .cp-flex-item.cp-flex-equal.cp-flex-1of2
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Service & Banking
      .cp-detail-container
        %table.cp-card-detail
          %tr
            %td Is Verified:
            %td
              %i.cp-icn-yes
              %i.cp-icn-no
          %tr
            %td Driver Rate:
            %td 5%
          %tr
            %td Driver Group:
            %td Dam Sen
          %tr
            %td Service Type:
            %td DTaxi 4 Seats
          %tr
            %td Service Location:
            %td HCM1 include District 1, District 3, District 11, District 5, District 10
      %hr.cp-space-detail
      .cp-detail-container
        %table.cp-card-detail
          %tr
            %td Bank Name:
            %td HSBC
          %tr
            %td Bank Brand:
            %td Ho Chi Minh City
          %tr
            %td Account Name:
            %td Tran Duc Thang
          %tr
            %td Account Number:
            %td 542369548721

  / Address
  .cp-flex-item.cp-flex-1of1
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Address
      .scrollable
        %table.table.cp-table-list
          %thead
            %tr
              %th &nbsp;
              %th
                %a(href="" ) ADDRESS
              %th
                %a(href="" ) COUNTRY
              %th
                %a(href="" ) PROVINCE
              %th
                %a(href="" ) DISTRICT
              %th
                %a(href="" ) WARD
              %th
                %a(href="" ) TYPE
              %th
                %a(href="" ) STATUS
          %tbody
            %tr
              %td
                %input#chb-1(type="checkbox" checked disabled)
                %label.checkbox(for="chb-1")
              %td Him Lam Cho Lon
              %td Viet Nam
              %td Ho Chi Minh City
              %td District 6
              %td Ward 11
              %td Home
              %td Active
            %tr
              %td
                %input#chb-2(type="checkbox" disabled)
                %label.checkbox(for="chb-2")
              %td 297/3 Ly Thuong Kiet
              %td Viet Nam
              %td Ho Chi Minh City
              %td District 11
              %td Ward 15
              %td Girl Friend
              %td Deactive
            %tr
              %td
                %input#chb-3(type="checkbox" disabled)
                %label.checkbox(for="chb-3")
              %td 124 Tan Tho
              %td Viet Nam
              %td Ho Chi Minh City
              %td Tan Binh
              %td Ward 14
              %td Unknown
              %td Active

  / Summary
  .cp-flex-item.cp-flex-1of1
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Summary
      .scrollable
        .cp-detail-container
          .cp-column.cp-detail-column
            .cp-column-item
              .cp-row
                .cp-count-block
                  .cp-count-note &nbsp;
                  .cp-count-number 471
                  .cp-count-title Total Trip
                .cp-count-block
                  .cp-count-note 17/09/2016 15:12:24
                  .cp-count-number 2
                  .cp-count-title Total Today Trip
              .cp-row
                .cp-count-block
                  .cp-count-note &nbsp;
                  .cp-count-number 346
                  .cp-count-title Completed Trip
                .cp-count-block
                  .cp-count-note &nbsp;
                  .cp-count-number 12
                  .cp-count-title Cancelled Trip
              .cp-row
                .cp-count-block
                  .cp-count-note VND
                  .cp-count-number 17,500,000
                  .cp-count-title Total Income
                .cp-count-block
                  .cp-count-note VND
                  .cp-count-number 2,820,000
                  .cp-count-title Total Service Fee
              .cp-row
                .cp-count-block
                  .cp-count-note VND
                  .cp-count-number +3,450,000
                  .cp-count-title Balance
                .cp-count-block
                  .cp-count-note VND
                  .cp-count-number 840,000
                  .cp-count-title Today Earning
            .cp-column-item
              .cp-label rating & comment
              .cp-trip-star.cp-typo-label-detail BK25134578 &nbsp; - &nbsp; <i class="cp-icn-star"></i><i class="cp-icn-star"></i><i class="cp-icn-star"></i><i class="cp-icn-star"></i><i class="cp-icn-star"></i>
              .cp-comment Nullam eros quam, commodo a metus ut, lobortis blandit arcu. Ut auctor sapien mi, non eleifend lectus cursus sit amet. Sed laoreet porttitor tortor, at fringilla ante aliquet et.
              %hr
              .cp-trip-star.cp-typo-label-detail BK25134578 &nbsp; - &nbsp; <i class="cp-icn-star"></i><i class="cp-icn-star"></i><i class="cp-icn-star"></i><i class="cp-icn-star"></i><i class="cp-icn-star"></i>
              .cp-comment Nullam eros quam, commodo a metus ut, lobortis blandit arcu. Ut auctor sapien mi, non eleifend lectus cursus sit amet. Sed laoreet porttitor tortor, at fringilla ante aliquet et.
              %hr
              .cp-trip-star.cp-typo-label-detail BK25134578 &nbsp; - &nbsp; <i class="cp-icn-star"></i><i class="cp-icn-star"></i><i class="cp-icn-star"></i><i class="cp-icn-star"></i><i class="cp-icn-star"></i>
              .cp-comment Nullam eros quam, commodo a metus ut, lobortis blandit arcu. Ut auctor sapien mi, non eleifend lectus cursus sit amet. Sed laoreet porttitor tortor, at fringilla ante aliquet et.
              %hr
              .cp-trip-star.cp-typo-label-detail BK25134578 &nbsp; - &nbsp; <i class="cp-icn-star"></i><i class="cp-icn-star"></i><i class="cp-icn-star"></i><i class="cp-icn-star"></i><i class="cp-icn-star"></i>
              .cp-comment Nullam eros quam, commodo a metus ut, lobortis blandit arcu. Ut auctor sapien mi, non eleifend lectus cursus sit amet. Sed laoreet porttitor tortor, at fringilla ante aliquet et.

              %ul.cp-pagination
                %li.cp-pagination-item
                  %a.cp-pagination-link.disable(href="#") &laquo;
                %li.cp-pagination-item
                  %a.cp-pagination-link.active(href="#" ) 1
                %li.cp-pagination-item
                  %a.cp-pagination-link(href="#" ) 2
                %li.cp-pagination-item
                  %a.cp-pagination-link(href="#" ) 3
                %li.cp-pagination-item
                  %a.cp-pagination-link(href="#" ) 4
                %li.cp-pagination-item
                  %a.cp-pagination-link(href="#" ) 5
                %li.cp-pagination-item
                  %a.cp-pagination-link(href="#" ) &raquo;

  / Document
  .cp-flex-item.cp-flex-1of1
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Driver Document
      .scrollable
        .cp-detail-container
          .cp-flex-inner
            .cp-detail-flex.cp-flex-1of2
              %table.cp-card-detail
                %tr
                  %td(colspan="2" )
                    .cp-label driver identity card
                %tr
                  %td Identity Card No.:
                  %td 257456985
                %tr
                  %td Issue Date:
                  %td 17/11/2005
                %tr
                  %td Issue By:
                  %td HTPD
              .cp-document-image
                .cp-image-item
                  .cp-label Identity Card Front Image
                  %img(src="http://media.blogkhoahoc.net/files/elenabui/2016/09/26/trac-nghiem-vui-doan-so-menh-qua-so-chung-minh-thu-nhan-dan-1-blogkhoahocnet-2002.jpg" alt="ID front" )
                .cp-image-item
                  .cp-label Identity Card Back Image
                  %img(src="../images/id-back.png" alt="ID back" )

            .cp-detail-flex.cp-flex-1of2
              %table.cp-card-detail
                %tr
                  %td(colspan="2" )
                    .cp-label driver license
                %tr
                  %td Experience Years:
                  %td 20
                %tr
                  %td Driver License No.:
                  %td 257456985
                %tr
                  %td Driver License Type:
                  %td B2
                %tr
                  %td Issue Date:
                  %td 17/09/2010
                %tr
                  %td Expire Date:
                  %td 17/09/2025
                %tr
                  %td Issue By:
                  %td HPD
              .cp-document-image
                .cp-image-item
                  .cp-label Driver License Front Image
                  %img(src="../images/placeholder-document.png" alt="Driver License front" )
                .cp-image-item
                  .cp-label Driver License Back Image
                  %img(src="../images/placeholder-document.png" alt="Driver License back" )

  / Vehicle
  .cp-flex-item.cp-flex-1of1
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Vehicle Information
      .scrollable
        .cp-detail-container
          .cp-flex-inner
            .cp-detail-flex.cp-flex-1of3
              %table.cp-card-detail
                %tr
                  %td(colspan="2" )
                    .cp-label vehicle general info
                %tr
                  %td Brand:
                  %td Toyota
                %tr
                  %td Model:
                  %td Innova
                %tr
                  %td Type:
                  %td SUV
                %tr
                  %td Manufacture Year:
                  %td 2015
                %tr
                  %td Seat Quantity:
                  %td 7
                %tr
                  %td Color:
                  %td Silver
                %tr
                  %td Cylinder Capacity:
                  %td 1998cc
                %tr
                  %td Engine No.:
                  %td OTA8000020
                %tr
                  %td Chassis No.:
                  %td OBH088005N
              .cp-document-image
                .cp-image-item
                  .cp-label Vehicle Image
                  %img(src="../images/placeholder-document.png" alt="Vehicle front" )
                .cp-image-item
                  %img(src="../images/placeholder-document.png" alt="Vehicle back" )
                .cp-image-item
                  %img(src="../images/placeholder-document.png" alt="Vehicle front" )
                .cp-image-item
                  %img(src="../images/placeholder-document.png" alt="Vehicle back" )

            .cp-detail-flex.cp-flex-1of3
              %table.cp-card-detail
                %tr
                  %td(colspan="2" )
                    .cp-label Vehicle insurance
                %tr
                  %td Insurance No.:
                  %td 5693578451346
                %tr
                  %td Insurance Type:
                  %td Auto Insurance
                %tr
                  %td Issue Date:
                  %td 11/09/2016
                %tr
                  %td Expire Date:
                  %td 11/09/2018
                %tr
                  %td Issue By:
                  %td Bao Viet Insurance
              .cp-document-image
                .cp-image-item
                  .cp-label Insurance Image
                  %img(src="../images/placeholder-document.png" alt="Insurance front" )
                .cp-image-item
                  %img(src="../images/placeholder-document.png" alt="Insurance back" )

            .cp-detail-flex.cp-flex-1of3
              %table.cp-card-detail
                %tr
                  %td(colspan="2" )
                    .cp-label Vehicle Registration Certificate
                %tr
                  %td Registration Certificate No.:
                  %td 65454518489461
                %tr
                  %td License Plate:
                  %td 59H1-23.841
                %tr
                  %td Issue Date:
                  %td 25/09/2016
                %tr
                  %td Issued By:
                  %td HPD
              .cp-document-image
                .cp-image-item
                  .cp-label Registration Certificate Front Image
                  %img(src="../images/placeholder-document.png" alt="Registration Certificate front" )
                .cp-image-item
                  .cp-label Registration Certificate Back Image
                  %img(src="../images/placeholder-document.png" alt="Registration Certificate back" )

  / System & Meta Data
  .cp-flex-item.cp-flex-1of1
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title System & Meta Data
      .cp-detail-container
        %table.cp-card-detail
          %tr
            %td Join At:
            %td 15/09/2016 12:19:22
          %tr
            %td Create At:
            %td 10/09/2016 14:29:38
          %tr
            %td Create By:
            %td Admin
          %tr
            %td Update At:
            %td 21/09/2016 09:34:12
          %tr
            %td Update By:
            %td Admin
      %hr.cp-space-detail
      .cp-detail-container
        %table.cp-card-detail
          %tr
            %td os:
            %td REL
          %tr
            %td version:
            %td 1.0
          %tr
            %td platform:
            %td android
          %tr
            %td deviceToken:
            %td bb5ab0cf-e008-4c07-b5a4-6dc6e03e5b0e

\</div>
/ End Content

/ Foobar
/ ======
= Haml::Engine.new(File.read('foobar.haml')).render
/ End Foobar

\</div>
/ End Right Block

\</div>
/ End Container

= Haml::Engine.new(File.read('footer.haml')).render
