= Haml::Engine.new(File.read('header.haml')).render

/ Container
/ =========
\<div class="cp-container">

/ Sidebar
/ =======
= Haml::Engine.new(File.read('sidebar.haml')).render
/ End Sidebar

/ Right Block
/ ===========
\<div class="cp-right-block">

/ Topbar
/ ======
= Haml::Engine.new(File.read('topbar.haml')).render
/ End Topbar

/ Content
/ =======
\<div class="cp-content">

/ Breadcrumb
%ol.cp-breadcrumb
  %li.cp-breadcrumb-item
    %a(href="index.html") Home
  %li.cp-breadcrumb-item.active Driver Dashboard
/ End Breadcrumb

/ Flexbox Layout
.cp-flex.cp-driver-dashboard
  / Total Driver
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Total Driver

      .cp-dashboard
        %i.cp-icn-total-driver
        .cp-typo-dashboard-count 1725
        .cp-typo-dashboard-title Driver

  / Driver Status
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Driver Status

      .cp-dashboard
        .cp-chart-pie
          %canvas#driver-status(width="200" height="200" )

  / System Status
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title System Status

      .cp-dashboard
        .cp-chart-doughnut
          %canvas#driver-system-status(width="200" height="200" )
          .cp-dashboard-icn-center
            %i.cp-icn-active-driver
        .cp-typo-dashboard-subcount 700
        .cp-typo-code Active Driver

  // New Driver
  .cp-flex-item.cp-flex-1of1
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title New Driver
        .cp-card-config
          .btn-group.cp-btn-group
            %button.btn.cp-btn-white(type="button" ) Year
            %button.btn.cp-btn-white(type="button" ) Month
            %button.btn.cp-btn-white.active(type="button" ) Week

      .cp-dashboard
        .cp-chart-full
          %canvas#driver-new-driver(width="1200" height="500" )

  / Driver on Map
  .cp-flex-item.cp-flex-1of1
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Driver on Map

/ End Flexbox Layout

\</div>
/ End Content

/ Foobar
/ ======
= Haml::Engine.new(File.read('foobar.haml')).render
/ End Foobar

\</div>
/ End Right Block

\</div>
/ End Container

= Haml::Engine.new(File.read('footer.haml')).render


