= Haml::Engine.new(File.read('header.haml')).render

/ Container
/ =========
\<div class="cp-container">

/ Sidebar
/ =======
= Haml::Engine.new(File.read('sidebar.haml')).render
/ End Sidebar

/ Right Block
/ ===========
\<div class="cp-right-block">

/ Topbar
/ ======
= Haml::Engine.new(File.read('topbar.haml')).render
/ End Topbar

/ Content
/ =======
\<div class="cp-content">

/ Breadcrumb
%ol.cp-breadcrumb
  %li.cp-breadcrumb-item.active Home Dashboard
/ End Breadcrumb

/ Flexbox Layout
.cp-flex
  / Summary
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card-count-block
      .cp-count-icon
        %i.cp-icn-total-driver-home
      .cp-count-note &nbsp;
      .cp-count-number 345
      .cp-count-title Total Trip

  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card-count-block
      .cp-count-note &nbsp;
      .cp-count-number 325
      .cp-count-title Completed Trip

  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card-count-block
      .cp-count-note &nbsp;
      .cp-count-number 20
      .cp-count-title Cancelled Trip

/ End Flexbox Layout

\</div>
/ End Content

/ Foobar
/ ======
= Haml::Engine.new(File.read('foobar.haml')).render
/ End Foobar

\</div>
/ End Right Block

\</div>
/ End Container

= Haml::Engine.new(File.read('footer.haml')).render

