= Haml::Engine.new(File.read('header.haml')).render

/ Container
/ =========
\<div class="cp-container">

/ Sidebar
/ =======
= Haml::Engine.new(File.read('sidebar.haml')).render
/ End Sidebar

/ Right Block
/ ===========
\<div class="cp-right-block">

/ Topbar
/ ======
= Haml::Engine.new(File.read('topbar.haml')).render
/ End Topbar

/ Content
/ =======
\<div class="cp-content">

/ Breadcrumb
%ol.cp-breadcrumb
  %li.cp-breadcrumb-item
    %a(href="index.html") Home
  %li.cp-breadcrumb-item
    %a(href="noti-dashboard.html") Notification
  %li.cp-breadcrumb-item.active Send SMS
/ End Breadcrumb

/ Float Container
%form.cp-float-container.clearfix(method="post" enctype="multipart/form-data" )
  / Column Layout
  .cp-column
    / Create Deposit
    .cp-column-item.cp-card
      %header
        .cp-card-title
          .cp-typo-title Send SMS

      .cp-card-content
        .cp-label list phone number
        %textarea(placeholder="Enter phone number separated by commas (,)" )
        .cp-label target
        .cp-group-checkbox
          %div
            %input#send-customer(type="checkbox" )
            %label.checkbox(for="send-customer") Send to all customer
          %div
            %input#send-driver(type="checkbox" )
            %label.checkbox(for="send-driver") Send to all driver
        .cp-label Message
        %textarea(placeholder="Enter message" )
        %button.cp-btn.cp-btn-success(type="submit" ) Send

/ End Float Container

\</div>
/ End Content

/ Foobar
/ ======
= Haml::Engine.new(File.read('foobar.haml')).render
/ End Foobar

\</div>
/ End Right Block

\</div>
/ End Container

= Haml::Engine.new(File.read('footer.haml')).render


