= Haml::Engine.new(File.read('header.haml')).render

/ Container
/ =========
\<div class="cp-container">

/ Sidebar
/ =======
= Haml::Engine.new(File.read('sidebar.haml')).render
/ End Sidebar

/ Right Block
/ ===========
\<div class="cp-right-block">

/ Topbar
/ ======
= Haml::Engine.new(File.read('topbar.haml')).render
/ End Topbar

/ Content
/ =======
\<div class="cp-content">

/ Breadcrumb
%ol.cp-breadcrumb
  %li.cp-breadcrumb-item
    %a(href="index.html") Home
  %li.cp-breadcrumb-item
    %a(href="noti-dashboard.html") Notification
  %li.cp-breadcrumb-item.active List Notification

/ Modal
#cp-modal-delete.modal.fade(tabindex="-1" role="dialog" )
  .modal-dialog(role="document")
    .cp-modal-content
      .cp-modal-header
        %i.cp-icn-modal-warning
        .cp-modal-title Are you sure?
        .cp-modal-subtitle You will not able to recover this item!
      .cp-modal-footer
        %button.cp-btn.cp-btn-danger(type="button" ) Yes
        %button.cp-btn.cp-btn-success(type="button" data-dismiss="modal" ) No
/ End Modal

/ Float Container
\<div class="cp-flex">
.cp-flex-item.cp-flex-1of1
  .cp-flex-content.cp-card
    %header
      .cp-card-title
        .cp-typo-title List Notification
      .cp-btn-status
        %button.cp-btn.cp-btn-success(type="button" ) Active
        %button.cp-btn.cp-btn-deactive(type="button" ) Deactive
        %button.cp-btn.cp-btn-danger(type="button" ) Delete
      .cp-card-config
        .dropdown.export
          .dropdown-toggle(data-toggle="dropdown") <i class="cp-icn-export"></i> &nbsp;&nbsp;<i class="cp-icn-caret-black"></i>
          .dropdown-menu.dropdown-menu-right
            %a.dropdown-item(href="#") Excel
            %a.dropdown-item(href="#") CSV
        .split
        .total Total 200 items
        -#%select
        -#  %option 10 items
        -#  %option 20 items
        -#  %option 50 items
        -#  %option 100 items
        -#.split
        -#%input.cp-card-date(type="text" placeholder="15/10/2016" ) <i class="cp-icn-caret-black"></i>
    .scrollable
      %table.table.cp-table-list
        %thead
          %tr
            %th &nbsp;
            %th &nbsp;
            %th &nbsp;
            %th.cp-thead-small
              %a(href="" ) CODE
            %th
              %a(href="" ) CATEGORY
            %th
              %a(href="" ) TITLE
            %th
              %a(href="" ) AUDIENCE
            %th
              %a(href="" ) SENT
            %th
              %a(href="" ) DELIVERY TIME
            %th
              %a(href="" ) STATUS
            %th
              %a(href="" ) ACTION
          %tr.filter
            %td &nbsp;
            %td
              %input#chb-all(type="checkbox")
              %label.checkbox(for="chb-all")
            %td &nbsp;
            %td
              %input(type="text")
            %td
              %select.cp-table-select
                %option All
                %option News - Raw
                %option News - Article
            %td
              %input(type="text")
            %td
              %select.cp-table-select
                %option All
                %option Broadcast
                %option Specific Devices
            %td
              %select.cp-table-select
                %option All
                %option Yes
                %option No
            %td
              %input(type="text")
            %td
              %select.cp-table-select
                %option All
                %option Active
                %option Deactive
                %option Delete
            %td &nbsp;
        %tbody
          %tr
            %td &nbsp;
            %td
              %input#chb-1(type="checkbox")
              %label.checkbox(for="chb-1")
            %td 1
            %td NOTI2516
            %td News - Raw
            %td This is a title
            %td Broadcast
            %td.cell-center
              %i.cp-icn-yes
            %td 13/11/2016 <br>10:32
            %td Active
            %td.action
              %a.btn-list(href="noti-detail.html" data-hover="tooltip" data-placement="top" title="View" ) <i class="cp-icn-view"></i>
              %a.btn-list(href="noti-edit.html" data-hover="tooltip" data-placement="bottom" title="Edit" ) <i class="cp-icn-edit"></i>
              %a.btn-list(href="#" data-hover="tooltip" data-toggle="modal" data-target="#cp-modal-delete" data-placement="bottom" title="Delete" ) <i class="cp-icn-delete"></i>
          %tr
            %td &nbsp;
            %td
              %input#chb-2(type="checkbox")
              %label.checkbox(for="chb-2")
            %td 2
            %td NOTI2512
            %td News - Article
            %td My name is Super Title
            %td Specific Devices
            %td.cell-center
              %i.cp-icn-no
            %td 24/11/2016 <br>15:30
            %td Active
            %td.action
              %a.btn-list(href="noti-detail.html" data-hover="tooltip" data-placement="top" title="View" ) <i class="cp-icn-view"></i>
              %a.btn-list(href="noti-edit.html" data-hover="tooltip" data-placement="bottom" title="Edit" ) <i class="cp-icn-edit"></i>
              %a.btn-list(href="#" data-hover="tooltip" data-toggle="modal" data-target="#cp-modal-delete" data-placement="bottom" title="Delete" ) <i class="cp-icn-delete"></i>

      %ul.cp-pagination
        %li.cp-pagination-item
          %a.cp-pagination-link.disable(href="#") &laquo;
        %li.cp-pagination-item
          %a.cp-pagination-link.active(href="#" ) 1
        %li.cp-pagination-item
          %a.cp-pagination-link(href="#" ) 2
        %li.cp-pagination-item
          %a.cp-pagination-link(href="#" ) 3
        %li.cp-pagination-item
          %a.cp-pagination-link(href="#" ) 4
        %li.cp-pagination-item
          %a.cp-pagination-link(href="#" ) 5
        %li.cp-pagination-item
          %a.cp-pagination-link(href="#" ) &raquo;

\</div>
/ End Float Container

\</div>
/ End Content

/ Foobar
/ ======
= Haml::Engine.new(File.read('foobar.haml')).render
/ End Foobar

\</div>
/ End Right Block

\</div>
/ End Container

= Haml::Engine.new(File.read('footer.haml')).render


