= Haml::Engine.new(File.read('header.haml')).render

/ Container
/ =========
\<div class="cp-container">

/ Sidebar
/ =======
= Haml::Engine.new(File.read('sidebar.haml')).render
/ End Sidebar

/ Right Block
/ ===========
\<div class="cp-right-block">

/ Topbar
/ ======
= Haml::Engine.new(File.read('topbar.haml')).render
/ End Topbar

/ Content
/ =======
\<div class="cp-content">

/ Breadcrumb
%ol.cp-breadcrumb
  %li.cp-breadcrumb-item
    %a(href="index.html") Home
  %li.cp-breadcrumb-item
    %a(href="service-dashboard.html") Fare & Service
  %li.cp-breadcrumb-item
    %a(href="service-location-fare.html") Location & Fare
  %li.cp-breadcrumb-item.active Location Detail
/ End Breadcrumb

/ Flexbox Layout
.cp-flex
  / Fare Detail
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Location Detail
      .cp-detail-container
        %table.cp-card-detail
          %tr
            %td Code:
            %td HCMC1
          %tr
            %td Name:
            %td All downtown districts
          %tr
            %td Country:
            %td Viet Nam
          %tr
            %td Description:
            %td All location of DTaxi service at Ho Chi Minh City
          %tr
            %td Status:
            %td Active
          %tr
            %td Create At:
            %td 15/10/1991, 10:30
          %tr
            %td Last Updated At:
            %td 15/10/1991, 10:30
          %tr
            %td Create By:
            %td Admin
          %tr
            %td Last Updated By:
            %td Admin

/ End Flexbox Layout

\</div>
/ End Content

/ Foobar
/ ======
= Haml::Engine.new(File.read('foobar.haml')).render
/ End Foobar

\</div>
/ End Right Block

\</div>
/ End Container

= Haml::Engine.new(File.read('footer.haml')).render

